<form ></form>
<div style="display: flex; justify-content: center;">
  <div style="justify-content: center;">

    <h1 style="color: rgb(236, 62, 120);">Contact Our </h1>
    <h1> Customer Support Center</h1>
  </div>

  <img src="assets/Laptop.png" alt="Description of the image">

</div>

<div style=" text-align: center;">
  <br>
  <h2>Contact Information</h2>
  <h6>Please fill out your ContactInformation below  </h6>
</div>


<form style=" padding:0px 100px;justify-content: center;">
    <div>
      Name
    </div>

    <div style="display: flex;justify-content: center;">
      <input type="text" placeholder="FirstName" required>
      <input type="text" placeholder="LastName">
    </div>
    <br>
    <div>
      Email <br>
      <input type="email"><br>
      Phone <br>
      <input type="phone"><br>
      Address<br>
      <input type="address">
    </div>
</form>
<router-outlet></router-outlet>